<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!--
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick-theme.min.css" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/osahan.css" rel="stylesheet">
    -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400%7CRoboto+Slab:300,400,700%7CMontserrat:700%7CPacifico">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css">

    <script src="https://kit.fontawesome.com/61a3f14637.js" crossorigin="anonymous"></script>
</head>
<body>

    <header class="page-head">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap bg-transparent rd-navbar-wrap-mod-1">
            <nav class="rd-navbar"
                 data-layout="rd-navbar-fixed"
                 data-sm-layout="rd-navbar-fixed"
                 data-md-layout="rd-navbar-fixed"
                 data-lg-layout="rd-navbar-fullwidth"
                 data-xl-layout="rd-navbar-static"
                 data-xxl-layout="rd-navbar-static"
                 data-device-layout="rd-navbar-fixed"
                 data-md-device-layout="rd-navbar-fixed"
                 data-lg-device-layout="rd-navbar-fixed"
                 data-xl-device-layout="rd-navbar-static"
                 data-xxl-device-layout="rd-navbar-static"
                 data-stick-up-offset="100px">
                <!--(data-layout='rd-navbar-fixed',data-sm-layout='rd-navbar-fullwidth', data-lg-layout=rd_navbar_data_ajuster )-->
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle"
                                data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span>
                            </span>
                        </button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <a class="brand-name d-lg-none d-xl-block"
                               asp-action="Index"
                               asp-controller="home">
                                <img class="brandlogo" src="~/images/ReelJunkiesLogo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="rd-navbar-nav-wrap">
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                            <li class="d-none d-lg-inline d-xl-none ">
                                <a asp-action="Index"
                                   asp-controller="home"
                                   class="brandlogoparent">
                                    <img class="brandlogo" src="~/images/ReelJunkiesLogo.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a asp-action="Index"
                                   asp-controller="home">Home</a>
                            </li>


                            <li>

                                <a href="#">Movies</a>
                                <ul class="rd-navbar-dropdown">
                                    <li>
                                        <a asp-action="GetMovieByCategory"
                                           asp-controller="Movies"
                                           asp-route-category="popular">
                                            Popular
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="GetMovieByCategory"
                                           asp-controller="Movies"
                                           asp-route-category="now_playing">Now Playing</a>
                                    </li>
                                    <li>
                                        <a asp-action="GetMovieByCategory"
                                           asp-controller="Movies"
                                           asp-route-category="upcoming">Upcoming</a>
                                    </li>
                                    <li>
                                        <a asp-action="GetMovieByCategory"
                                           asp-controller="Movies"
                                           asp-route-category="top_rated">Top Rated</a>
                                    </li>
                                </ul>
                            </li>
                            <li>

                                <a href="#">TV Shows</a>
                                <ul class="rd-navbar-dropdown">
                                    <li>
                                        <a asp-action="GetTVByCategory"
                                           asp-controller="TV"
                                           asp-route-category="popular">
                                            Popular
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="GetTVByCategory"
                                           asp-controller="TV"
                                           asp-route-category="top_rated">Top Rated</a>
                                    </li>
                                    <li>
                                        <a asp-action="GetTVByCategory"
                                           asp-controller="TV"
                                           asp-route-category="airing_today">Airing Today</a>
                                    </li>

                                    <li>
                                        <a asp-action="GetTVByCategory"
                                           asp-controller="TV"
                                           asp-route-category="on_the_air">On The Air</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a asp-controller="Home"
                                   asp-action="About">
                                    About
                                </a>
                            </li>
                            <li>
                                <partial name="_LoginPartial" />
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main role="main" class="page">
        <div class="preloader">
            <div class="preloader-body">
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
                <p>Loading...</p>
            </div>
        </div>
        @RenderBody()
    </main>

    <footer class="page-foot bg-gray-900">
        <section class="footer-content">
            <div class="container">
                <a class="brand-name"
                   asp-action="Index"
                   asp-controller="home">
                    <img class="brandlogo" src="~/images/ReelJunkiesLogo.png" alt="">
                </a>
            </div>
        </section>
        <section class="footer-copyright-1 copyright">
            <div class="container">
                <!-- Rights-->
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span>
            </div>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/getvideo.js"></script>
    <!--
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/slick/slick.min.js"></script>
    -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
