@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="text-white">
        <a  href="#">@User.Identity.Name</a>
        <ul class="rd-navbar-dropdown">
            <li>
                <a  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
            </li>
         <li >
            <form  class="form-inline" 
                    asp-area="Identity" 
                    asp-page="/Account/Logout" 
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" 
                        class="nav-link btn btn-link ">
                        Logout
                </button>
             </form>
        </li>
        </ul>
    </li>



}
else
{
    <li class="text-white">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="text-white">
        <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}