

<section class="text-center bg-blog pt-4">
    <div class="container pt-5">
        <div class="jumbotron text-center">
            <h1>
                <small>@ViewData["HeaderFirstString"]</small>
                <span class='font-weight-bold'>
                    @ViewData["HeaderSecondString"]
                </span>
            </h1>
        </div>
    </div>
</section>