@using ReelJunkies.Models.ViewModels
@Model VM_PageTitle


<section class="relative text-center bg-blog pt-4">
    <div class="container pt-5">
        <div class="jumbotron text-center">
            <h1>
                <small>@Model.FirstString</small>
                <span class='font-weight-bold'>
                    @Model.SecondString
                </span>
            </h1>
        </div>
    </div>
</section>