@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


      <section class="section-coming">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-md-offset-1">
              <div class="jumbotron jumbotron-3 text-center">
                <h1><small>Dang</small><span class='font-weight-bold'>something went wrong</span>
                </h1>
                <p>
                </p>
                <p class="h5 fw-l"><strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
                
                <a class="btn btn-sm btn-success" asp-action="index" asp-controller="home">back to homepage</a>
              </div>
            </div>
          </div>
        </div>
      </section>