@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
@{
    ViewData["HeaderFirstString"] = "Manage";
    ViewData["HeaderSecondString"] = "Account";
    <partial name="_PageTitle"
         view-data="ViewData" />
}

<div class="text-center">
    <section class="bg-light section-xl">
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home"
                   asp-action="index">Home</a>
            </li>
            <li class="active">Password Reset</li>
        </ol>
    </section>

    <section class="section section-inset-1 container">
        <h4>Change your Account Settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </section>
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}
