@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<partial name="_StatusMessage" for="StatusMessage" />
<div class="row justify-content-start">
    <div class="col-md-12 col-lg-8 text-left">
        <h4 class="mb-2">@ViewData["Title"]</h4>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-wrap mb-3">
                        <label class="form-label" for="forms-sub-oldpw">Old Password</label>
                        <input class="form-input" id="forms-sub-oldpw" asp-for="Input.OldPassword">
                         </div>

                        <div class="form-wrap mb-3">
                        <label class="form-label" for="forms-sub-newpw">New Password</label>
                        <input class="form-input" id="forms-sub-newpw" asp-for="Input.NewPassword">
                         </div>


                        <div class="form-wrap mb-3">
                        <label class="form-label" for="forms-sub-confnewpw">Confirm New Password</label>
                        <input class="form-input" id="forms-sub-confnewpw" asp-for="Input.ConfirmPassword">
                         </div>
            
                <div class="button-wrap text-center">
                    <button class="col-12 btn btn-success btn-sm btn-min-width-lg" type="submit">save</button>
               </div>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}