@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row justify-content-start">
    <div class="col-md-12 col-lg-8 text-left">
        <h4 class="mb-2">@ViewData["Title"]</h4>
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-wrap">
                        <input class="form-input" disabled asp-for="Email"/>

                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                 else
                {
                    <input class="form-input" disabled asp-for="Email"/>

                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
            </div>
                <div class="form-wrap mb-3">
                        <label class="form-label" for="forms-sub-email">New Email</label>
                        <input class="form-input" id="forms-sub-email" asp-for="Input.NewEmail">
              </div>
                <div class="button-wrap text-center">
                    <button class="col-12 btn btn-success btn-sm btn-min-width-lg" type="submit">save</button>
               </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
