@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="row justify-content-start">
    <div class="col-md-8">
<h4 class="text-left">@ViewData["Title"]</h4>
        <p class="text-left">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p class="text-left">
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
\               <div class="button-wrap text-center">
                    <button class="col-8 btn btn-success btn-sm btn-min-width-lg" type="submit">download</button>
               </div>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="col-8 btn btn-success btn-sm btn-min-width-lg" >Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
