
<section class="relative text-center bg-blog pt-4">
    <div class="container pt-5">
        <div class="jumbotron text-center">
            <h1>
                <small>hello</small><span class='font-weight-bold'>I coded this</span>
            </h1>
        </div>
    </div>
</section>

<section class="bg-light section-xl">
    <ol class="breadcrumb text-center">
        <li>
            <a asp-action="Index"
               asp-controller="Home">Home</a>
        </li>
        <li class="active">About</li>
    </ol>
</section>
<section class="section section-inset-1">
    <div class="container">
        <h2 class="text-center">Nice to meet you</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-lg-offset-2">
                <div class="thumbnail">
                    <img class="rounded-circle profilepic" src="~/images/profilePicMike.jpg" alt="">
                    <div class="caption-mod-1">
                        <h4 class="text-center" >Mike Velasco</h4><h6 class="text-center text-gray">Aspiring .Net Developer</h6>
                        <p class="text-md-left">
                            Thanks for checking out my demo project!
                            It is in early state of the app and 
                            I plan to implement some cool features in the future.
                            This is an application that uses Tmdb's Api to 
                            fetch data and present it to the user, Bootstrap and 
                            custom css is used in the front end and .Net 5 , 
                            EF Core with postgress at the backend
                        </p>
                        <p class="text-md-left">I made this app as part of CoderFoundry's Self Paced coding bootcamp, I hope that you enjoyed clicking through things and searching for your favorite Movie, TV shows and actors. I definately learned alot in building this app specificaly in the .Net web tech stack</p> 
                        <p> You can check out my full portfolio site at <a href="https://codingme.dev/">https://codingme.dev/ </a>  to see my other projects.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
