@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}



@{
    ViewData["HeaderFirstString"] = "Forget";
    ViewData["HeaderSecondString"] = "Password";
    <partial name="_PageTitle"
         view-data="ViewData" />
}
<div class="text-center">
<section class="bg-light section-xl">
    <ol class="breadcrumb">
        <li><a asp-controller="Home"
                   asp-action="index">Home</a>
                   </li>
        <li class="active">Password Reset</li>
    </ol>
</section>

<section class="section section-inset-1 container">
<h4>Enter your email.</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-xl-8 col-xl offset-custom-3">
    <p>
    Please check your email to reset your password.
</p>
    </div>
</div>
</section>
</div>


