@page
@model LoginModel

@{
    ViewData["HeaderFirstString"] = "Your Account";
    ViewData["HeaderSecondString"] = "Login";
    <partial name="_PageTitle"
         view-data="ViewData" />
}
        <section class="bg-light section-xl text-center">
          <ol class="breadcrumb">
            <li><a asp-controller="Home"
                   asp-action="index">Home</a>
                   </li>
                   <li class="active">Login</li>
          </ol>
        </section>

        <section class="section section-inset-1 text-center">
          <div class="container">
            <h2>Enter Your Credentials</h2>
            <hr>
            <div class="row justify-content-center text-left">
              <div class="col-12 col-xl-10">
                <div class="row justify-content-center offset-custom-5">
                  <div class="col-xl-8 col-xl offset-custom-3">
            <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                      <div class="form-wrap mb-4">
                        <label class="form-label" asp-for="Input.Email">Email</label>
                        <input class="form-input"  asp-for="Input.Email">
                      </div>
                      <div class="form-wrap">
                        <label class="form-label" asp-for="Input.Password">Your first name...</label>
                        <input class="form-input" asp-for="Input.Password">
                      </div>
                    <div class="form-group mt-3">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                      <div class="button-wrap text-center">
                        <button class="btn btn-success btn-sm btn-min-width-lg col-12" type="submit">sign in</button>
                      </div>
                    <div class="form-group mt-3 ">
                    <p>
                        <a id="forgot-password" 
                        class="text-black"
                        asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" 
                        class="text-black"
                        asp-route-returnUrl="@Model.ReturnUrl">Register as a new user
                        </a>
                    </p>
                    <p>
                        <a id="resend-confirmation" 
                        class="text-black"
                        asp-page="./ResendEmailConfirmation">
                        Resend email confirmation
                        </a>
                    </p>
                     </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
