@page
@using ReelJunkies.Models.ViewModels
@model RegisterModel


@{
    ViewData["HeaderFirstString"] = "New Account";
    ViewData["HeaderSecondString"] = "Register";
    <partial name="_PageTitle"
         view-data="ViewData" />
}
<div class="text-center">
<section class="bg-light section-xl">
    <ol class="breadcrumb">
        <li><a asp-controller="Home"
                   asp-action="index">Home</a>
                   </li>
        <li class="active">Register</li>
    </ol>
</section>
<section class="section section-inset-1">
    <div class="container">
        <h2>Create an Account</h2>
        <hr>
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="row justify-content-center offset-custom-5">
                    <div class="col-xl-8 col-xl offset-custom-3">
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                        <div asp-validation-summary="All" class="text-danger text-left mb-2"></div>

                            <div class="form-wrap mb-4">
                        <label class="form-label" for="forms-sub-email">Email</label>
                        <input class="form-input" id="forms-sub-email" asp-for="Input.Email">
                            </div>

                            <div class="form-wrap mb-4">
                                <label class="form-label" 
                                asp-for="Input.Password"
                                >Password
                            </label>
                                <input class="form-input" 
                                asp-for="Input.Password" 
                                type="password" 
                                >
                            </div>
                            <div class="form-wrap mb-5">
                                <label class="form-label" asp-for="Input.ConfirmPassword"
                                >Confirm Password
                            </label>
                                <input class="form-input" 
                                asp-for="Input.ConfirmPassword" 
                                type="password" 
                                >
                            </div>
                            <div class="button-wrap text-center">
                                <button class="col-12 btn btn-success btn-sm btn-min-width-lg" type="submit">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
