@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

@{
    ViewData["HeaderFirstString"] = "Lets try this again";
    ViewData["HeaderSecondString"] = "Resend confirmation";
    <partial name="_PageTitle"
         view-data="ViewData" />
}

<section class="bg-light section-xl text-center">
    <ol class="breadcrumb">
        <li><a asp-controller="Home"
                   asp-action="index">Home</a>
                   </li>
        <li class="active">Resend Email Confirmation</li>
    </ol>
</section>

<section class="section section-inset-1 container">
<div class="text-center">
<h4>Enter your email.</h4>
<hr />
</div>
<div class="row justify-content-center">
    <div class="col-xl-8 col-xl offset-custom-3">
            <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
                         <div class="form-wrap mb-4">
                        <label class="form-label" for="forms-sub-email">Email</label>
                        <input class="form-input" id="forms-sub-email" asp-for="Input.Email">
                            </div>
            <div class="button-wrap text-center">
            <button class="col-12 btn btn-success btn-sm btn-min-width-lg" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
